@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #F9FAFF;
  font-family: "Plus Jakarta Sans";
  overflow-x: hidden;
}

header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  font-weight: 800;
  align-items: center;
}
header h2 {
  color: rgb(19, 24, 63);
  font-size: 28px;
  font-weight: 800;
}
header button {
  border-radius: 28px;
  background: rgb(19, 24, 63);
  color: rgb(255, 255, 255);
  height: 48px;
  width: 140px;
  font-size: 16px;
  font-weight: 700;
  border: 0;
}

main {
  padding: 16px;
}
main .budget {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
main .budget h1 {
  font-size: 40px;
  font-weight: 800;
  color: rgb(19, 24, 63);
}
main .budget p {
  font-size: 16px;
  font-weight: 500;
  color: rgb(131, 134, 154);
}
main .budget button {
  border-radius: 31.5px;
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  width: 167px;
  height: 56px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  border: 0;
}
main .hero-mobile {
  margin-left: -50px;
}
main .hero-tablet {
  margin-left: -50px;
  display: none;
}
main .hero-desktop {
  margin-left: -50px;
  display: none;
}
main .card-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main .header {
  padding: 24px 29px 32px 29px;
  border-radius: 10px;
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  color: #FFFFFF;
}
main .header h2 {
  font-size: 24px;
  font-weight: 800;
}
main .card {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
  width: 343px;
  height: 259px;
}
main .card h2 {
  font-size: 20px;
  font-weight: 800;
  color: rgb(19, 24, 63);
  padding: 16px;
}
main .card p {
  font-size: 16px;
  font-weight: 500;
  color: rgb(131, 134, 154);
  padding: 0 28px 32px 29px;
}
main .card button {
  font-size: 18px;
  font-weight: 700;
  color: rgb(247, 71, 128);
  padding: 16px;
  border: 0;
  background: none;
}
main .card img {
  margin-top: -30px;
  margin-left: 25px;
}

footer {
  width: 100%;
  height: 120px;
  background: rgb(19, 24, 63);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
footer h1 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 800;
}
footer button {
  border-radius: 28px;
  background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  padding: 11px 24px;
}

@media screen and (max-width: 768px) {
  body main aside {
    display: grid;
    grid-template-columns: 55% 35%;
  }
  body main .budget {
    margin-top: 100px;
    padding: 16px;
  }
  body main .hero-mobile {
    margin-left: -50px;
    display: none;
  }
  body main .hero-tablet {
    margin-left: -50px;
    display: block;
    margin-top: -170px;
  }
  body main .hero-desktop {
    margin-left: -50px;
    display: none;
  }
  body main .card-container {
    display: grid;
    grid-template-columns: 41% 58%;
  }
  body main .card-container .header h2 {
    padding: 35px 0 0 0;
  }
}/*# sourceMappingURL=style.css.map */